
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

/*  shared style */
main{
    max-width: 1170px;
    margin: 0 auto;
}
/* header style */
.navbar , .banner, .brand-logo{
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}
.brand span{
    color: #E02C6D;
}
.navbar .nav-links{
    display: flex;
}
.navbar .nav-item{
    list-style: none;
    transform: rotate(0deg);
    transition: all 0.9s ease-in-out;
}
.navbar .nav-item .nav-link{
    padding: 0 1.2rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    transition: all 0.3s ease-in-out;
}
.navbar .nav-item .nav-link:hover{
    color: #E02C6D;
}
.navbar .nav-item:hover {
    transform: rotate(7deg);
}
 .mobile-nav{
    font-size: 1.5rem;
    font-weight: 800;
    color: #3A3A3A;
    display: none;
 }

.bannar-content{
    max-width: 580px;
}
.bannar-title{
    font-size: 3rem;
    font-weight: 700;
    color: #3A3A3A;
}
.bannar-subtitle{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin: 1rem 0;
}
.bannar-btn{
    background-color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px 24px;
    border-radius: 40px;
    border: none;
    transition: all 0.9s ease-in-out;
}
.bannar-btn i{
    margin-left: 10px;
}
.bannar-btn:hover{
    background-color: transparent;
    color: #E02C6D;
}
.banner-image{
    padding: 30px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-origin:padding-box;
}
.banner-image img{
    width: 100%;
}
.brand-logo{
    padding: 36px 62px;
    border-top:1px solid #FFFFFF;
    border-image:linear-gradient(90deg, rgba(192, 204, 218,0.1) ,rgba(192, 204, 218,0.6),rgba(192, 204, 218,0.1))1;
    border-bottom:1px solid #FFFFFF ;
    margin:70px auto 100px;
}
/*  end of header style */

/* collection style */
.collection-title{
    font-size: 1.6rem;
    font-weight: 600;
    color: #3A3A3A;
    padding: 30px 0;
    text-align: center;
}
.collection-content{
    font-family: "Inter", sans-serif;
    padding: 0 10px ;
    /* background-color: #787885; */
    /* box-shadow: 2px 3px 15px #787885; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.collection-item{
    padding: 17px 15px;
    background-color: #FFFFFF; 
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 35px;
}
.collection-item img{
    width: 100%;
    height: auto;
}
.collection-item-content{
    display: flex;
    justify-content:flex-start ;
    flex-direction: column;
    gap: 10px;
}
.collection-item-title{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #3A3A3A;
}
.collection-item-price{
    font-size: 1.5rem;
    font-weight: 400;
    color: #3A3A3A;
}

.collection-item-rating .rate{
    font-size: 1.2rem;
    font-weight: 700;
    color: #3A3A3A;
    margin-left:15px ;
}
.collection-item-rating span{
    color: #bebdbe;
}
.collection-item-rating .checked{
    color: #ebcc06;
}
.collection-item-subtitle{
    font-size: 0.9rem;
    font-weight: 700;
    color: #3A3A3A;
}
.collection-item-subtitle>span{
    display: inline-block;
    margin: 8px 0;
    color: #04ca4a;
}
.collection-more{
    display: inline-block;
    float: right;
    font-size: 1rem;
    font-weight: 700;
    color: #E02C6D;
    margin: 50px 0;
    padding: 15px 24px;
    border-radius: 50px;
    text-align: right;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
}
.collection-more i{
    margin-left: 8px;
}
.collection-more:hover{
    background-color: #E02C6D;
    color: #ffffff;
}

/* featured style */
.featured{
    width: 100%;
    margin: 150px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.featured .bannar-content .bannar-title{
    font-size: 2.2rem;
}
.featured .bannar-content .bannar-subtitle{
    font-size: 1rem;
    color: #6C6C6C;
}
.featured .bannar-content .bannar-btn{
    border-radius: 0%;
}
/* footer style */
footer{
    background-color: #0A0826;
    padding: 50px;
}
footer .footer-content{
    max-width: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.footer-subtitle{
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    color: #6C6C6C;
    padding: 0 25px;
    margin-bottom: 8px;
}
.footer-socail{
    max-width: 176px;
    display: flex;
    justify-content: space-around;
    gap: 16px;
}
.footer-socail a{
    padding: 7px;    
    backdrop-filter: blur(10px);
    background-color: rgba(254, 254, 254, 0.2);
    border-radius: 50%;
    font-size: 1.5rem;
    color: #FFFFFF;
    transition: all 0.9s ease-in-out;
}
.footer-socail a i{
    padding: 7px;
}
.footer-socail a:hover{
    background-color: #E02C6D;
}